body {
  display: flex;

  flex-direction: row;
  margin: 0;

  font-family: serif;
}
.cv_side {
  background: black;
  width: 30%;
  text-align: center;
}
.cv_main_content {
  
  width: 70%;
}
.content_header {
  text-align: center;
}
header, footer, article, nav, aside {
  padding: 1em;
}
.cv_highlight {
  color: orange;
}
.cv_contact_section_content {
  background-color: black;
  color: white;
  text-align: justify;
}
.cv_contact_title {
  text-align: center;
  color: black;
  justify-content: center;
  background-color: orange;
}
.cv_training {
  padding-left: 2em;

}
.cv_training_section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.cv_training_header {
  flex: 1;
}
.cv_training_section_content {
  flex: 5;
}
h3 {
  text-decoration: underline;
}
.span_italic {
  font-style: italic;
}
.cv_footer_recommandations {
  display: flex;
  flex-direction: row;
}
.cv_footer_recommendation_section {
  text-align: center;
}
.h3_bold {
  text-decoration: none;
  font-weight: bold;
}
